<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ReControlComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="CoreMessagingXP.dll" />
      </Component>
      <Component>
        <File Source="Microsoft.Internal.FrameworkUdk.dll" />
      </Component>
      <Component>
        <File Source="Microsoft.UI.Windowing.Core.dll" />
      </Component>
      <Component>
        <File Source="Microsoft.ui.xaml.dll" />
      </Component>
      <Component>
        <File Source="Microsoft.WindowsAppRuntime.dll" />
      </Component>
      <Component>
        <File Id="ReControl.exe" Source="ReControl.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
